.similar-job-card-bg {
  background-color: #202020;
  border-radius: 8px;
  padding: 12px;
  width: 30%;
}

@media (max-width: 576px) {
  .similar-job-card-bg {
    width: 100%;
    margin-bottom: 14px;
  }
}
